* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav {
  background-color: #282a37;
}
.nav .nav-right {
  margin-left: auto;
}
.nav .logo {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}
.nav .icon-login {
  height: 30px;
  width: 30px;
}

.footer {
  background-color: #282a37;
  background-size: cover;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}
.footer .logo__footer {
  padding-top: 5px;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.footer .logo__footer .logo__item {
  width: 20px;
  height: 20px;
}

.login__body {
  background-image: linear-gradient(to right, #282a37, rgba(40, 42, 55, 0.9921568627), rgba(40, 42, 55, 0.7254901961)), url("../images/chalten_login.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  margin-top: 0.5;
  width: 100%;
  justify-content: space-between;
  min-height: 100vh;
}
.login__body .login__main {
  background-size: cover;
  width: 100%;
}
.login__body .login__main .login__section {
  margin: 40px;
  margin-top: 50px;
  margin-left: 80px;
  max-width: 550px;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
}
.login__body .login__main .login__section .login__form__text {
  font-family: "Times New Roman", Times, serif;
  color: white;
  margin-bottom: 30px;
}
.login__body .login__main .login__section .login__form__text .login__form__text__h5 {
  font-size: 15px;
  color: #959caa;
  margin-bottom: 10px;
}
.login__body .login__main .login__section .login__form__text .login__form__text__h1 {
  font-size: 50px;
}
.login__body .login__main .login__section .login__form {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.login__body .login__main .login__section .login__form .login__form__name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.login__body .login__main .login__section .login__form .login__text {
  width: 180px;
}
.login__body .login__main .login__section .login__form .login__form__button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Times New Roman", Times, serif;
  flex-wrap: wrap;
}

.inicio__body {
  background-size: cover;
  background-image: linear-gradient(to top, #282a37, #282a37, rgba(40, 42, 55, 0.9176470588), rgba(40, 42, 55, 0.3137254902)), url(../../images/el_chalten.jpg);
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Times New Roman", Times, serif;
}
.inicio__body .inicio__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  color: #fafcfb;
}
.inicio__body .inicio__main span {
  color: #1C90F4;
}
.inicio__body .home-banner {
  color: #fafcfb;
  width: 90%;
  margin-top: 1rem;
}
.inicio__body .home-banner span {
  color: #1C90F4;
}
.inicio__body .home-banner .text-size {
  font-size: 50px;
}
.inicio__body .home-info {
  width: 100%;
  color: #fafcfb;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.inicio__body .home-info .image-caracteristicas {
  width: 250px;
  height: 200px;
  border-radius: 5px;
}

.hospedaje__body {
  background-color: rgba(40, 42, 55, 0.9176470588);
  background-size: cover;
  color: black;
}
.hospedaje__body .hospedaje__main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
}

.lodging__body {
  background-color: rgba(40, 42, 55, 0.9176470588);
  background-size: cover;
  color: black;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.lodging__body .lodging__main {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.lodging__body .lodging__main .lodging__continue-button {
  width: max-content;
}

.generic-input {
  border-radius: 10px;
  border-style: solid;
  border-color: #1C90F4;
  background-color: #333645;
  color: white;
  padding: 10px;
}

.generic-input__fullwidth {
  width: 100%;
}

.generic__button {
  border-radius: 25px;
  cursor: pointer;
  width: 180px;
}

.generic__button--grey {
  background-color: grey;
  border: none;
}

.generic__button--blue {
  background-color: #1C90F4;
}

.checkbox__input {
  color: white;
}

.tipe_text {
  font-family: "Times New Roman", Times, serif;
}

.generic-card {
  border: solid 2px #1C90F4;
  border-radius: 6px;
  background-color: #333645;
}

.activities__body {
  background-color: rgba(40, 42, 55, 0.9176470588);
  background-size: cover;
  color: black;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.activities__body .activities__main {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.activities__body .activities__main .section-activities {
  display: flex;
  justify-content: space-around;
}
.activities__body .activities__main .section-activities .activities-card {
  padding: 1rem 0;
}

/*# sourceMappingURL=style.css.map */
