<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boarding</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="hospedaje__body">
    <main class="hospedaje__main">
        <nav class="nav">
            <a href="/index.html"><img src="/images/airplane-around-earth.png" alt="logo de avion" class="logo"></a> 
            <p class="nameapp">TravelApp</p>
            <div class="nav__p">
                <a class="inicio__nav p" href="/index.html" >Home</a>
                <a class="transporte__nav p" href="/views/boarding.html" >Boarding</a>
                <a class="hospedaje__nav p" href="/views/lodging.html" >Lodging</a>
                <a class="actividades__nav p" href="#">Activities</a>
                <a class="miviaje__nav p" href="#" >My Trip</a>
                <a class="login__nav p" href="/views/login.html"> Login </a>
            </div>
        </nav>
        <h1>Select Date</h1>
        <input type="text">
        <input type="text">
        <input type="date">
        <input type="date">
        <a href="/views/lodging.html"><input type="button" value="continue"></a>
        <!-- <input type="date" value=""> -->
    </main>
    <footer class="footer">
        <div class="logo__footer">
            <a href="https://www.google.com.ar/maps" target="_blank"><img src="/images/ubicacion_azul.png" alt="logo de ubicacion" class="logo__item"></a>
            <a href="https://www.google.com/intl/es/gmail/about/" target="_blank"><img src="/images/google_azul.png" alt="logo de google" class="logo__item"></a>
            <a href="https://es-la.facebook.com/login/device-based/regular/login/" target="_blank"><img src="/images/facebook_azul.png" alt="logo de facebook" class="logo__item"></a>
            <a href="https://z-p15.www.instagram.com/accounts/login/?next=/p/CK8SOUgBxgo/&hl=es-la" target="_blank"><img src="/images/instagram_azul.png" alt="logo de instagram" class="logo__item"></a>
        </div>
    </footer>
</body>
</html>