.activities__body {
    background-color: #282a37ea;
    background-size: cover;
    color: black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .activities__main {
        width: 100%;
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;

        .section-activities {
            display: flex;
            justify-content: space-around;

            .activities-card {
                padding: 1rem 0;
            }
        }
    }
}