.activities__body {
    background-color: #282a37ea;
    background-size: cover;
    color: black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .activities__main {
        width: 100%;
        padding: 1rem 0;
       

      
    }
}