.lodging__body {
    background-color: #282a37ea;
    background-size: cover;
    color: black;

    .lodging__main {
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 1rem;

    }
}